@using ExampleSite.Identity
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">


            <div class="box">
                <h2 style="padding: 8px 8px 8px 8px; text-decoration:double">
                    Kullanıcı Listesi
                </h2><!-- /.box-header -->
                <hr />
                <p style="padding:5px 5px 5px 5px">
                    <a class="btn btn-primary" href="@Url.Action("Create")">Yeni Kayıt</a>
                </p>

                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Kullanıcı adı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Surname</td>
                                    <td>@item.UserName</td>                                                                 
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                               <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Kullanıcı adı</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

