
@{
    ViewBag.Title = "SiparisTamamlandi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success"><h3>Siparişiniz alınmıştır, en kısa zamanda kargoya verilecektir.</h3></div>

